<div class="country-card">
    <div class="country-card__img">
        <img src="{{0.flags.svg}}" alt="{{0.name.common}}" width="50px">
    </div>
    <div class="country-card__body">
         <h2>Название страны: {{0.name.common}}</h2>
         <p>Столица: {{0.capital}}</p>
         <p>Населенеие: {{0.population}}</p>
         <p>Языки {{0.languages}}</p>
    </div>
</div>